.url-input-button {
    /* Style the button */
    width: 6vw; /* Adjust the size as needed */
    height: 6vw;
    vertical-align: middle;

    color: white;
    //margin-left: 5px; /* Add some spacing between the input and icon */
}